
.heading {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -4%;
    text-align: center;
    margin-bottom: 23px;
}

.description {
    color: rgba(0, 0, 0, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 270px;
    padding-right: 270px;
    margin-bottom: 100px;
}
/*  card */

.card {
  width: 250px;
  background: #e7fafe;
  border-radius: 20px;
  overflow: hidden;
  font-family: sans-serif;
  padding-bottom: 5px;
  
}

.card_image {
  position: relative;
}

.card_image img {
  width: 100%;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.heart_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: red;
  border-radius: 50%;
  padding: 8px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card_content {
  padding: 15px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  gap: 20px;
  color: #444;
}

.info_item {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.just_one_child{
    width: 250px;
    height: 340px;
}
/* first part ,, second part ,,, third part*/
.first_part{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
}
.second_part{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
}
.third_part{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 120px;
}