.categories {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h2 {
    font-size: 45px;
}

.cate {
    font-weight: 600;
    padding-left: 60px;
}

/* button */
.part2_btn2 {
    padding-right: 50px;
    padding-top: 50px;
}

.btn2_view {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: -1%;
    text-align: left;
    border-radius: 16px;
    border: none;
    padding: 10px;
    background: rgb(231, 250, 254);
}

/* items */
.items{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.item11 {
  width: 130px;
  border-radius: 20px;
  overflow: hidden;       /* Optional: keeps image corners rounded */
  text-align: center;     /* Center the text */
  padding: 10px;
  background-color: #f6f1f1; 
}

.item1 {
  display: block;
  width: 100%;
  height: auto;           /* Let height adjust naturally */
  border-radius: 20px;    /* Optional if you want the image rounded too */
  object-fit: cover;
}

.item_title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
